<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100068583256430"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/manish_singh_1152/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/manish-kumar-48600030b/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.youtube.com/@ReactAndReview.108"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://ankitblogg.com/"><img src="https://ankitblogg.com/wp-content/uploads/2024/12/ANKIT-3-300x80.png" class="ankit"></a>
            <a href="https://www.instagram.com/s_t_y_l_i_s_h_v_i_v_e_k/">Vivek Sharma</a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="terms">Terms</a>
         </div>
    </div>
</footer>